:host {
  display: grid;
  grid-template:
    100vh /
    1fr 2fr;
  grid-template-areas: 'cards details';
}

.Territory-cards {
  grid-area: cards;
  /* display: flex;
  flex-flow: column nowrap; */
  background-color: brown;
  overflow: hidden;
  overflow-y: auto;
}

.Territory-details {
  grid-area: details;
}

.Territory-dialog {
  position: absolute;
  inset: 0;
  margin: auto;
}
