<section class="Territory-cards">
  @for (territory of territories$ | async; track territory.id) {
    <app-territory-card
      [number]="territory.number"
      [name]="territory.label"
      [lastDateCompleted]="territory.lastDateCompleted"
      [selected]="territoryToDetail()?.number === territory.number"
      (cardClick)="onCardClick($event)" />
  } @empty {
    Crea un territorio para comenzar
  }
</section>
<section class="Territory-details">
  @defer (when territoryToDetail()) {
    <app-territory-details [territory]="territoryToDetail()" />
  } @placeholder {
    Seleccione un territorio
  }
</section>

<ui-dialog
  icon="map"
  headline="Crear nuevo territorio"
  supportingText="Ingrese informacion para registrar un nuevo territorio"
  openEventName="app.territory.new.dialog.open"
  closeEventName="app.territory.new.dialog.close"
  (returnValue)="onReturnValue($event)">
  <app-territory-form />
</ui-dialog>
