:host {
  display: grid;
  grid-template:
    100vh /
    4fr 5fr;
  grid-template-areas: 'cards details';
}

.Territory-cards {
  grid-area: cards;
  display: grid;
  padding: 10px 0;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-content: space-between;
  justify-items: center;
  gap: 10px;
  overflow: hidden;
  overflow-y: auto;
}

.Territory-details {
  grid-area: details;
}

.Territory-dialog {
  position: absolute;
  inset: 0;
  margin: auto;
}
