:host {
  display: grid;
  grid-template:
    100vh /
    var(--navigator-width) 3fr;
  grid-template-areas: 'navigator content content content';
}

.Desktop-navigator {
  grid-area: navigator;
  border: 1px solid rgb(24, 22, 22);
  background-color: #cecece;
}

.Desktop-content {
  grid-area: content;
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;

  border: 1px solid hsl(273, 86%, 14%);
  background-color: #eeb4ff91;
}
