:host {
  display: flex;

  & .TerritoryDetails-card {
    margin: 10px;
    width: 100%;
  }

  & .TerritoryDetails-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px;

    & .TerritoryDetails-limits {
      & .TerritoryDetails-limit {
      }
    }
  }
}
